{hosts, [
  {"127.0.0.1", [
    release_a_instance_a,
    release_a_instance_b,
    release_a_instance_c,
    release_b,
    release_c
  ]}
]}.

{releases, [
  {release_a,  [application_a, application_c]},
  {release_b,  [application_b, application_c]}
]}.

{nodes, [
   {release_a, [release_a_instance_a, release_a_instance_b, release_a_instance_c]},
   release_b,
   release_c
]}.

{mnesia_nodes, [
  {cluster_a, [
     release_a_instance_a,
     release_a_instance_b,
     release_a_instance_c,
     release_b
  ]},
  {cluster_b, [release_c]}
]}.

{mnesia_schema, schema_example}.

{node_name, 'booter@127.0.0.1'}.
{cookie, booter_cookie}.

{root, "/project/project_root"}.
{packages_path, "releases"}.
{current_host, "127.0.0.1"}.
{sys_config, "sys.config"}.
{vm_args, "vm.args"}.
{managed_domains, [{abc, "abc.com"}]}.

{add_providers, []}.

{variables, [
    {variable_a, value_a},
    {variable_b, value_b}
]}.

{node_variables, [
    {release_a, [
        {variable_a, release_a_value_a}
    ]},
    {release_a_instance_a, [
        {variable_a, release_a_instance_a_value_a}
    ]}
]}.



