{deps, [
  {erlware_commons, "1.2.0"},
  {getopt,          "1.0.1"},
  {providers,       "1.7.0"},
  {lager,           "3.6.7"},
  {bbmustache,      "1.6.1"},
  {disable_tco,    {git, "https://github.com/slepher/disable_tco.git", {branch, "master"}}},
  {lenses,         {git, "https://github.com/slepher/lenses.git", {branch, "master"}}},
  {erlando,        {git, "https://github.com/slepher/erlando.git", {branch, "master"}}},
  {ast_traverse,   {git, "https://github.com/slepher/ast_traverse.git", {branch, "master"}}}
]}.

{erl_opts, [debug_info, {parse_transform, disable_tco}]}.

{escript_emu_args, "%%! +sbtu +A0 -noinput\n"}.
{erl_first_files, ["src/mnesia_schema_transform.erl", "src/rpc_function_transform.erl"]}.
{escript_main_app, cluster_booter}.
